.jumbotron {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.table {
    margin-top: 6%;
}

.selecionado {
    background-color: bisque;
}

.negrito {
    font-weight: bold;
}